{% extends 'base.html' %}
{% load static %}
{% block title %}DetalleCOFP{% endblock %}

{% block content %}

<div>
    <h2>Detalle Facturacion</h2>
    <p>facturas que Necesitan documento soporte</p>

    <table>
        <thead>
            <tr>
                <th>supplier Id </th>
                <th>Nombre</th>
                <th>COFP</th>
                <th>Fecha</th>
                <th>Valor</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for fact in detalle_fact_2_list %}
            <tr>
                <td>{{ fact.supplier_id }}</td>
                <td>{{ fact.name_supplier }}</td>
                <td>{{ fact.id_supplier_invoice }}</td>
                <td>{{ fact.date_invoice }}</td>
                <td>{{ fact.net_amount }}</td>
                <td>{{ fact.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}