{% extends 'base.html' %}
{% load static %}
{% block title %}DetalleCOFP{% endblock %}

{% block content %}

<div>
    <h2>Detalle Facturacion</h2>
    <p>facturas que Necesitan documento soporte</p>

    <table>
        <thead>
            <tr>
                <th>Fecha</th>
                <th></th>
                <th>Nombre</th>
                <th>COFP</th>
                <th></th><th></th>
                <th>Valor</th>

            </tr>
        </thead>
        <tbody>
            {% for fact in documento_list %}
            <tr>
                <td>{{ fact.date_invoice }}</td>
                <td></td>
                <td>{{ fact.name_supplier_vendor }}</td>
                <td>{{ fact.id_supplier_invoice }}</td>
                <td></td><td></td><td></td>
                <td>{{ fact.net_amount }}</td>
                <td><a href="{% url 'Genera_file' fact.id %}">Generar Documento</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}