{% extends 'base.html' %}
{% load static %}
{% block title %}DetalleCOFP{% endblock %}

{% block content %}

<div>
    <h2>Detalle Facturacion</h2>
    

    <nav class="navbar navbar-light bg-light">
      <form class="form-inline">
        <a href="{% url 'Reporte_Documentos' %}" class="btn btn-outline-primary" role="button" aria-pressed="true">Exportar a Excel</a>
    </nav>
  
    <p>Documentos pendientes por realizar</p>

    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">id</th>
            <th scope="col">Fecha</th>
            <th scope="col">COFP</th>
            <th scope="col">Nombre</th>
            <th scope="col">Valor</th>
            
          </tr>
        </thead>
        <tbody>
            {% for fact in lista_de_Documentos %}
              {%if fact.status != '1' %}
          <tr>
            <th>{{ fact.id }}</th>
            <td>{{ fact.date_Invoice }}</td>
            <td>{{ fact.id_supplier_invoice }}</td>
            <td>{{ fact.name_supplier_vendor }}</td>
            <td>{{ fact.net_amount }}</td>
            <td><a href="{% url 'Documento_generado' fact.id %}" class="btn btn-outline-info" role="button" aria-pressed="true">Generar Documento</a>
          </tr>
              {% endif %}
            {% endfor %}
        </tbody>
      </table>
</div>


{% endblock %}