
{% extends "base.html" %}

{% load static %}

{% block title %} Home {% endblock %}

{% block content %}

<h1>Welcome !!  {{ user.first_name }} {{ user.last_name }}</h1>



<!-- Message -->
<section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper"> </span>
              <span class="section-heading-lower"> </span>
            </h2>
            <div>
              <table>
                <thead>
                  <tr>
                    <th><h3>Documentos sin procesar</h3></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><h3>{{ documentoNull|length }}</h3></td>
                  </tr>
                </tbody>
              </table>
            </div>

            <hr/>
          
            <div>
              <table>
                <thead>
                  <tr>
                    <th><h3>Documentos generados</h3></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><h3>{{ documento1|length }}</h3></td>
                  </tr>
                </tbody>
              </table>
            </div>

            <hr/>

            <div>
              <table>
                <thead>
                  <tr>
                    <th><h3>Total de Documentos</h3></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><h3>{{ documento|length }}</h3></td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>
</section>

  

{% endblock %}



