
{% extends "base.html" %}

{% load static %}

{% block title %} Home {% endblock %}

{% block content %}

<h1>Welcome !!  {{ user.first_name }} {{ user.last_name }}</h1>



<!-- Message -->
<section class="page-section cta">
    <div class="container">
      <div class="row">
            <div>
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th><h3>Doc. sin procesar</h3></th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-danger">
                    <td><h3>{{ documentoNull|length }}</h3></td>
                  </tr>
                </tbody>
              </table>
            </div>

            <hr/>
          
            <div>
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th><h3>Doc. generados</h3></th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-info">
                    <td><h3>{{ documento1|length }}</h3></td>
                  </tr>
                </tbody>
              </table>
            </div>

            <hr/>

            <div>
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th><h3>NC generadas</h3></th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-warning">
                    <td><h3>{{ notas|length }}</h3></td>
                  </tr>
                </tbody>
              </table>
            </div>

            <hr/>

            <div>
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th><h3>Total de Documentos</h3></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><h3>{{ documento|length }}</h3></td>
                  </tr>
                </tbody>
              </table>
            </div>


      </div>
    </div>
</section>

  

{% endblock %}



