{% extends 'base.html' %}

{% load static %}

{% block title %}Proveedores{% endblock %}

{% block content %}

    <div>
        <h2>Proveedores - {{ proveedores|length }}</h2>

        <!-- esta seccion es para crear el boton de busqueda y el boton para agregar un nuevo proveedor-->

        <nav class="navbar navbar-light bg-light">
            <a href="{% url 'Reporte_Excel_vendor' %}" class="btn btn-outline-primary" role="button" aria-pressed="true" >Exportar a Excel</a>
            <a href="{% url 'Vendor_create' %}" class="btn btn-outline-info" role="button" aria-pressed="true">➕</a>

            <form method="get" class="form-inline" action="{% url 'Search' %}">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" name="Search">
                <span class="input-group-list">
                    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
                </span>
                
            </form>

        </nav>

        <!-- se crea la tabla que muestra los proveedores  -->
        <div>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Tax code</th>
                    <th scope="col">Ciudad</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                    {% for vendor in proveedor_list %}
                <tr>
                    <th>{{ vendor.id_supplier }}</th>
                    <td>{{ vendor.name }}</td>
                    <td>{{ vendor.supplier_tax_code }}</td>
                    <td>{{ vendor.city_name }}</td>
                    <td><a href="{% url 'Vendor_Update' vendor.id_supplier %}" class="btn btn-outline-info" role="button" aria-pressed="true">Editar</a>
                </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Se crea la paginacion  -->

        <!-- <div class="pagination">
            <span class="step-links">
                {% if proveedor_list.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ proveedor_list.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ proveedor_list.number }} of {{ proveedor_list.paginator.num_pages }}.
                </span>
        
                {% if proveedor_list.has_next %}
                    <a href="?page={{ proveedor_list.next_page_number }}">next</a>
                    <a href="?page={{ proveedor_list.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div> -->

        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link" href="?page=1" tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="?page={{ proveedor_list.previous_page_number }}">1</a></li>
                <li class="page-item active">
                    <a class="page-link" href={{ proveedor_list.number }} of {{ proveedor_list.paginator.num_pages }}>2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="?page={{ proveedor_list.next_page_number }}">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ proveedor_list.paginator.num_pages }}">Next</a>
                </li>
            </ul>
        </nav>

    </div>

{% endblock %}