{% extends 'base.html' %}

{% load static %}

{% block title %}Proveedores{% endblock %}

{% block content %}

    <div>
        <h2>Proveedores</h2>
        <div>
            <a href="{% url 'Vendor_create' %}" style="display: inherit; text-align: center; border-radius: 15px; text-decoration: none; color: inherit; padding: 4px; background-color: lightgreen;">➕</a>
        </div> 
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                {% for vendor in proveedor_list %}
                <tr>
                    <td>{{ vendor.id_supplier }}</td>
                    <td></td>
                    <td> {{vendor.name}} </td>
                    <td><a href="{% url 'Vendor_Update' vendor.id_supplier %}">Editar</a> </td>
                </tr>
                {% endfor %}
            </tbody>
            
        </table>
    </div>


{% endblock %}