
<!DOCTYPE html>
<html lang="en">
<html>

<head>
  {% load static %}
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login</title>

    <!-- Bootstrap -->
    <link href="{% static 'DocSupApp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

     <!-- Fonts -->
    
     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 

     <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">


     
    <!-- Styles -->
    <link href="{% static 'DocSupApp/css/gestion.css' %}" rel="stylesheet">
</head>

<body>

    <h1 class="site-heading text-center text-white d-none d-lg-block">
      
        <span class="site-heading-lower">Documento de Soporte</span>
      </h1>


<h2>Please login</h2>
  <form class="login" method="post">
      <div>
        {% csrf_token %}
        {{ form.as_p }}
          
        <button type="submit" class="btn btn-outline-info btn-lg btn-block">Login</button>  

      </div>
  </form>


    <!-- Footer -->
    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0">
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	    </p>
        <p class="m-0 mbt">
        	<a href="" class="link">Política de privacidad</a> ·
        	<a href="" class="link">Aviso legal</a> ·
        	<a href="" class="link">Cookies</a>
		</p>
        <p class="m-0 mbt1">&copy; Version 1.0, IT colombia</p>
      </div>
	</footer>

    <!-- Bootstrap -->
    <script src="{% static 'DocSupApp/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'DocSupApp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>


</html>